Define a function that accepts a number and returns whether the number is even or odd.

In [15]:
def num(e):
  if e%2==0:
    print('number is even',e)
  else:
    print('number is odd',e)

In [17]:
num(20)

number is even 20

In [16]:
num(25)

number is odd 25

Define a function to create and print a list where the values are square of numbers between 1 and 30 (both included).

In [13]:
def alist(i,j): #
           blist=[]
           for i in range(1,31):
              blist.append(i**2)
           print(blist)

In [14]:
alist(1,31)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Define a function, shut_down, that takes one parameter. Then, if the shut_down function receives a value equal to "yes", it should print "Shutting down". Alternatively, if vallue is equal to "no", then the function should print "Shutdown aborted". Finally, if shut_down gets anything other than those inputs, the function should print "Sorry".

In [7]:
def operation(a):
  if a=='yes':
    print("shutting down")
  elif a=='no':
     print('shutdown aborted')
  else:
    print('sorry we didnt get')

In [10]:
operation('yes')

shutting down

In [9]:
operation('no')

shutdown aborted

In [8]:
operation('saba')

sorry we didnt get



Define a function called "by_three" that takes a parameter called number. If that number is divisible by 3, "by_three" should print the cube of the number. Otherwise, by_three should print False.

In [5]:
def by_three(num):
  if num%3==0:
    print(num**3)
  else:
      print('False')

In [6]:
by_three(5)

False

In [4]:
by_three(6)

216

Define a function that takes a list and prints a new list with no duplicate elements given in the first list.

In [1]:
def alist(j):
  blist=[]
  for i in j :
    if i not in blist:
      blist.append(i)
  print(blist)

In [2]:
alist([1,2,3,4,5,6,7,8,9,14,25,1,2,3,5,5,6])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 14, 25]