Write a program which accepts month's name as input and display the number of days in the month as output

In [10]:
name_of_month=str(input('enter your month name  '))
name_of_month=name_of_month.capitalize()
for i in name_of_month:
 if  name_of_month in ('January','March','May','July','August','October','December'):
  print('31 days')
 elif  name_of_month in ('April','June','September','November'):
  print('30 days')
 elif  name_of_month in  ('February'):
    print('28/29 days')
 else:
    print('sorry you are input incorrect month name please try again')

enter your month name  saba
sorry you are input incorrect month name please try again
sorry you are input incorrect month name please try again
sorry you are input incorrect month name please try again
sorry you are input incorrect month name please try again

Take any word as input from the user and count the number of vowels in the word

In [9]:
vowel_count=0
word=str(input('enter your word '))
for i in word:
  if i=='a'or i=='e'or i=='i'or i=='o'or i=='u':
    vowel_count=vowel_count+1
print('total number of vowel is' , vowel_count)

enter your word sabaanjumkhan
total number of vowel is 5

Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [3]:
my_list=[1,2,3,14,25,63,74,88,77,66,52,10,13,64,99,200]
even_list=[]
odd_list=[]
for i in my_list:
  if i%2==0:
    even_list.append(i)
  else:
      odd_list.append(i)
print('list of even numbers :',even_list)
print('list of odd numbers :',odd_list)

list of even numbers : [2, 14, 74, 88, 66, 52, 10, 64, 200]
list of odd numbers : [1, 3, 25, 63, 77, 13, 99]

Write a program that appends datatype of elements from a list to a separate list

In [4]:
alist=[]
blist=[12,1.2,"apple",24,0,"saba",True,False,'a+ij']
for i in blist:
  alist.append(type(i))
print(alist)

[<class 'int'>, <class 'float'>, <class 'str'>, <class 'int'>, <class 'int'>, <class 'str'>, <class 'bool'>, <class 'bool'>, <class 'str'>]

Write a program to display only those numbers from a list that satisfies the following conditions:

1. The number must be divisible by 7

2. If the number is 140 then skip it and move to the next number in the list

3. If the number in the list is greater than 630 then stop the loop

In [5]:
my_list=[1,7,14,15,21,24,35,28,70,77,140,630,720,830,990]
my_list2=[]
for i in my_list:
  if i%7==0:
    my_list2.append(i)
    if i==140:
      continue
  elif i>630:
    break
print(my_list2)

[7, 14, 21, 35, 28, 70, 77, 140, 630]